@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --font-mono: var(--font-mono);
  
  --color-neon-red: #ff2a2a;
  --color-deep-crimson: #991b1b;
  --color-liquid-black: #050505;
}

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background: transparent;
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
@keyframes retro-grid { 0% { transform: translateY(-50%); } 100% { transform: translateY(0); } } .animate-retro-grid { animation: retro-grid 15s linear infinite; }
